*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db


#---------------------------
# File Specific
#--------------------------

wp-content/github/workflows



#---------------------------
# WordPress themes
#---------------------------
/themes/*

# DO NOT ignore these themes...
!/themes/frost

#---------------------------
# WordPress plugins
#---------------------------
/plugins/*

# DO NOT ignore these plugins...
!/plugins/wordpress-seo

# wordpress specific

wp-content/nitropack
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/stop-long-comments.php
wp-content/mu-plugins/force-strong-passwords*
wp-content/mu-plugins/wpengine-common*
wp-content/mysql.sql
wp-content/mu-plugins/wpengine-security-auditor.php
wp-content/mu-plugins/wpe-wp-sign-on-plugin*
wp-content/mu-plugins/wpe-elasticpress-autosuggest-logger*

# Local environment
docker
docker-compose.yml
.env
.idea
.vscode
node_modules

# wp core (as of 4.9.5)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-config-docker.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/index.php
/wp-content/themes/header-bkup-2020-06-16.php
/wp-content/plugins/index.php
/wp-content/plugins/akismet*
/wp-content/plugins/hello.php
/wp-content/plugins/wp-json-migrate/json/*


wp-content/mu-plugins/**
wp-content/mu-plugins/**/
wp-content/plugins/**
!wp-content/plugins/**/
wp-content/wflogs
wp-content/wp-rocket-config
wp-content/mu-plugins/local-by-flywheel-live-link-helper.php

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
*.log


# SAP Insider Specific
/-
/m
/media
/Financials
/Alloy
/Account
/images
.wpengine-conf
.wpe-devkit
.quarantine
.tmb
/markup
/SAPinsider-Tags
/speaker-pavilion2020
/sponsor-pavilion2020
/virtual2020
composer.phar
php.ini
mail_test.php
dt.sql.gz
exceptions.csv
export_sapexperts_fixes.json
export_sapinsider_fixes.json
googleecd91454b18659d5.html
.htaccess
.wpe-pull-ignore
.wpe-push-ignore
wp-content/__wpe_admin_ajax.log.1
wp-content/__wp_redirect.log
wp-config.php.back

!wp-content/plugins/wp-hide-post/public/class-wp-hide-post-public.php
!wp-content/plugins/wp-hide-post/admin/class-wp-hide-post-admin.php
!wp-content/plugins/relevanssi-premium/premium/post-metabox.php
!wp-content/plugins/advanced-custom-fields-pro/includes/fields/class-acf-field-relationship.php

!wp-content/plugins/relevanssi-live-ajax-search/**
!wp-content/plugins/searchwp-live-ajax-search/**

local-phpinfo.php
wp-content/themes/sapi/package-lock.json
wp-content/themes/twentytwenty/.stylelintrc.json
wp-content/themes/twentytwenty/assets/images/2020-landscape-1.png
wp-content/themes/twentytwenty/assets/images/2020-landscape-2.png
wp-content/themes/twentytwenty/assets/images/2020-square-1.png
wp-content/themes/twentytwenty/assets/images/2020-square-2.png
wp-content/themes/twentytwenty/assets/images/2020-three-quarters-1.png
wp-content/themes/twentytwenty/assets/images/2020-three-quarters-2.png
wp-content/themes/twentytwenty/assets/images/2020-three-quarters-3.png
wp-content/themes/twentytwenty/assets/images/2020-three-quarters-4.png
wp-content/themes/twentynineteen/404.php
wp-content/themes/twentyseventeen/404.php
wp-content/themes/twentysixteen/404.php
wp-content/themes/twentytwenty/404.php
wp-content/themes/twentynineteen/sass/modules/_accessibility.scss
wp-content/themes/twentynineteen/sass/modules/_alignments.scss
wp-content/themes/twentynineteen/sass/site/primary/_archives.scss
wp-content/themes/twentynineteen/sass/blocks/_blocks.scss
wp-content/themes/twentynineteen/sass/forms/_buttons.scss
wp-content/themes/twentynineteen/sass/media/_captions.scss
wp-content/themes/twentynineteen/sass/modules/_clearings.scss
wp-content/themes/twentynineteen/sass/variables-site/_colors.scss
wp-content/themes/twentynineteen/sass/variables-site/_columns.scss
wp-content/themes/twentynineteen/sass/site/primary/_comments.scss
wp-content/themes/twentynineteen/sass/typography/_copy.scss
wp-content/themes/twentynineteen/sass/elements/_elements.scss
wp-content/themes/twentynineteen/sass/forms/_fields.scss
wp-content/themes/twentynineteen/sass/variables-site/_fonts.scss
wp-content/themes/twentynineteen/sass/forms/_forms.scss
wp-content/themes/twentynineteen/sass/media/_galleries.scss
wp-content/themes/twentynineteen/sass/typography/_headings.scss
wp-content/themes/twentynineteen/sass/layout/_layout.scss
wp-content/themes/twentynineteen/sass/navigation/_links.scss
wp-content/themes/twentynineteen/sass/elements/_lists.scss
wp-content/themes/twentynineteen/sass/media/_media.scss
wp-content/themes/twentynineteen/sass/navigation/_menu-footer-navigation.scss
wp-content/themes/twentynineteen/sass/navigation/_menu-main-navigation.scss
wp-content/themes/twentynineteen/sass/navigation/_menu-social-navigation.scss
wp-content/themes/twentynineteen/sass/mixins/_mixins-master.scss
wp-content/themes/twentynineteen/sass/navigation/_navigation.scss
wp-content/themes/twentynineteen/sass/navigation/_next-previous.scss
wp-content/themes/twentynineteen/sass/_normalize.scss
wp-content/themes/twentynineteen/sass/site/primary/_posts-and-pages.scss
wp-content/themes/twentynineteen/sass/site/header/_site-featured-image.scss
wp-content/themes/twentynineteen/sass/site/footer/_site-footer.scss
wp-content/themes/twentynineteen/sass/site/header/_site-header.scss
wp-content/themes/twentynineteen/sass/site/_site.scss
wp-content/themes/twentynineteen/sass/variables-site/_structure.scss
wp-content/themes/twentynineteen/sass/elements/_tables.scss
wp-content/themes/twentynineteen/sass/variables-site/_transitions.scss
wp-content/themes/twentynineteen/sass/typography/_typography.scss
wp-content/themes/twentynineteen/sass/mixins/_utilities.scss
wp-content/themes/twentynineteen/sass/variables-site/_variables-site.scss
wp-content/themes/twentynineteen/sass/site/secondary/_widgets.scss
wp-content/themes/twentynineteen/archive.php
wp-content/themes/twentyseventeen/archive.php
wp-content/themes/twentysixteen/archive.php
wp-content/themes/twentynineteen/template-parts/post/author-bio.php
wp-content/themes/twentynineteen/inc/back-compat.php
wp-content/themes/twentyseventeen/inc/back-compat.php
wp-content/themes/twentysixteen/inc/back-compat.php
wp-content/themes/twentysixteen/template-parts/biography.php
wp-content/themes/twentynineteen/inc/block-patterns.php
wp-content/themes/twentytwenty/inc/block-patterns.php
wp-content/themes/twentyseventeen/assets/css/blocks.css
wp-content/themes/twentysixteen/css/blocks.css
wp-content/themes/twentynineteen/classes/class-twentynineteen-svg-icons.php
wp-content/themes/twentynineteen/classes/class-twentynineteen-walker-comment.php
wp-content/themes/twentytwenty/classes/class-twentytwenty-customize.php
wp-content/themes/twentytwenty/classes/class-twentytwenty-non-latin-languages.php
wp-content/themes/twentytwenty/classes/class-twentytwenty-script-loader.php
wp-content/themes/twentytwenty/classes/class-twentytwenty-separator-control.php
wp-content/themes/twentytwenty/classes/class-twentytwenty-svg-icons.php
wp-content/themes/twentytwenty/classes/class-twentytwenty-walker-comment.php
wp-content/themes/twentytwenty/classes/class-twentytwenty-walker-page.php
wp-content/themes/twentyseventeen/assets/images/coffee.jpg
wp-content/themes/twentytwenty/assets/js/color-calculations.js
wp-content/themes/twentynineteen/inc/color-patterns.php
wp-content/themes/twentyseventeen/inc/color-patterns.php
wp-content/themes/twentysixteen/js/color-scheme-control.js
wp-content/themes/twentyseventeen/assets/css/colors-dark.css
wp-content/themes/twentynineteen/comments.php
wp-content/themes/twentyseventeen/comments.php
wp-content/themes/twentysixteen/comments.php
wp-content/themes/twentytwenty/comments.php
wp-content/themes/twentyseventeen/template-parts/post/content-audio.php
wp-content/themes/twentytwenty/template-parts/content-cover.php
wp-content/themes/twentynineteen/template-parts/content/content-excerpt.php
wp-content/themes/twentyseventeen/template-parts/post/content-excerpt.php
wp-content/themes/twentyseventeen/template-parts/page/content-front-page-panels.php
wp-content/themes/twentyseventeen/template-parts/page/content-front-page.php
wp-content/themes/twentyseventeen/template-parts/post/content-gallery.php
wp-content/themes/twentyseventeen/template-parts/post/content-image.php
wp-content/themes/twentynineteen/template-parts/content/content-none.php
wp-content/themes/twentyseventeen/template-parts/post/content-none.php
wp-content/themes/twentysixteen/template-parts/content-none.php
wp-content/themes/twentynineteen/template-parts/content/content-page.php
wp-content/themes/twentyseventeen/template-parts/page/content-page.php
wp-content/themes/twentysixteen/template-parts/content-page.php
wp-content/themes/twentysixteen/template-parts/content-search.php
wp-content/themes/twentynineteen/template-parts/content/content-single.php
wp-content/themes/twentysixteen/template-parts/content-single.php
wp-content/themes/twentyseventeen/template-parts/post/content-video.php
wp-content/themes/twentynineteen/template-parts/content/content.php
wp-content/themes/twentyseventeen/template-parts/post/content.php
wp-content/themes/twentysixteen/template-parts/content.php
wp-content/themes/twentytwenty/template-parts/content.php
wp-content/themes/twentysixteen/genericons/COPYING.txt
wp-content/themes/twentytwenty/inc/custom-css.php
wp-content/themes/twentyseventeen/inc/custom-header.php
wp-content/themes/twentynineteen/js/customize-controls.js
wp-content/themes/twentyseventeen/assets/js/customize-controls.js
wp-content/themes/twentytwenty/assets/js/customize-controls.js
wp-content/themes/twentynineteen/js/customize-preview.js
wp-content/themes/twentyseventeen/assets/js/customize-preview.js
wp-content/themes/twentysixteen/js/customize-preview.js
wp-content/themes/twentytwenty/assets/js/customize-preview.js
wp-content/themes/twentytwenty/assets/js/customize.js
wp-content/themes/twentynineteen/inc/customizer.php
wp-content/themes/twentyseventeen/inc/customizer.php
wp-content/themes/twentysixteen/inc/customizer.php
wp-content/themes/twentynineteen/template-parts/post/discussion-meta.php
wp-content/themes/twentyseventeen/assets/css/editor-blocks.css
wp-content/themes/twentysixteen/css/editor-blocks.css
wp-content/themes/twentytwenty/assets/js/editor-script-block.js
wp-content/themes/twentytwenty/assets/css/editor-style-block-rtl.css
wp-content/themes/twentytwenty/assets/css/editor-style-block.css
wp-content/themes/twentytwenty/assets/css/editor-style-classic-rtl.css
wp-content/themes/twentytwenty/assets/css/editor-style-classic.css
wp-content/themes/twentyseventeen/assets/css/editor-style.css
wp-content/themes/twentysixteen/css/editor-style.css
wp-content/themes/twentytwenty/template-parts/entry-author-bio.php
wp-content/themes/twentynineteen/template-parts/header/entry-header.php
wp-content/themes/twentytwenty/template-parts/entry-header.php
wp-content/themes/twentyseventeen/assets/images/espresso.jpg
wp-content/themes/twentytwenty/template-parts/featured-image.php
wp-content/themes/twentytwenty/template-parts/footer-menus-widgets.php
wp-content/themes/twentynineteen/footer.php
wp-content/themes/twentyseventeen/footer.php
wp-content/themes/twentysixteen/footer.php
wp-content/themes/twentytwenty/footer.php
wp-content/themes/twentyseventeen/front-page.php
wp-content/themes/twentysixteen/js/functions.js
wp-content/themes/twentynineteen/functions.php
wp-content/themes/twentyseventeen/functions.php
wp-content/themes/twentysixteen/functions.php
wp-content/themes/twentytwenty/functions.php
wp-content/themes/twentysixteen/genericons/genericons.css
wp-content/themes/twentysixteen/genericons/Genericons.eot
wp-content/themes/twentysixteen/genericons/Genericons.svg
wp-content/themes/twentysixteen/genericons/Genericons.ttf
wp-content/themes/twentysixteen/genericons/Genericons.woff
wp-content/themes/twentyseventeen/assets/js/global.js
wp-content/themes/twentyseventeen/template-parts/header/header-image.php
wp-content/themes/twentyseventeen/assets/images/header.jpg
wp-content/themes/twentynineteen/header.php
wp-content/themes/twentyseventeen/header.php
wp-content/themes/twentysixteen/header.php
wp-content/themes/twentytwenty/header.php
wp-content/themes/twentynineteen/inc/helper-functions.php
wp-content/themes/twentyseventeen/assets/js/html5.js
wp-content/themes/twentysixteen/js/html5.js
wp-content/themes/twentynineteen/inc/icon-functions.php
wp-content/themes/twentyseventeen/inc/icon-functions.php
wp-content/themes/twentysixteen/css/ie.css
wp-content/themes/twentysixteen/css/ie7.css
wp-content/themes/twentyseventeen/assets/css/ie8.css
wp-content/themes/twentysixteen/css/ie8.css
wp-content/themes/twentyseventeen/assets/css/ie9.css
wp-content/themes/twentynineteen/image.php
wp-content/themes/twentysixteen/image.php
wp-content/themes/twentytwenty/assets/js/index.js
wp-content/themes/twentynineteen/index.php
wp-content/themes/twentyseventeen/index.php
wp-content/themes/twentysixteen/index.php
wp-content/themes/twentytwenty/index.php
wp-content/themes/twentytwenty/assets/fonts/inter/Inter-italic-var.woff2
wp-content/themes/twentytwenty/assets/fonts/inter/Inter-upright-var.woff2
wp-content/themes/twentyseventeen/assets/js/jquery.scrollTo.js
wp-content/themes/twentysixteen/js/keyboard-image-navigation.js
wp-content/themes/twentysixteen/genericons/LICENSE.txt
wp-content/themes/twentytwenty/template-parts/modal-menu.php
wp-content/themes/twentytwenty/template-parts/modal-search.php
wp-content/themes/twentyseventeen/template-parts/navigation/navigation-top.php
wp-content/themes/twentyseventeen/assets/js/navigation.js
wp-content/themes/twentytwenty/template-parts/navigation.php
wp-content/themes/twentynineteen/fonts/NonBreakingSpaceOverride.woff
wp-content/themes/twentynineteen/fonts/NonBreakingSpaceOverride.woff2
wp-content/themes/twentynineteen/package-lock.json
wp-content/themes/twentytwenty/package-lock.json
wp-content/themes/twentynineteen/package.json
wp-content/themes/twentytwenty/package.json
wp-content/themes/twentynineteen/page.php
wp-content/themes/twentyseventeen/page.php
wp-content/themes/twentysixteen/page.php
wp-content/themes/twentytwenty/template-parts/pagination.php
wp-content/themes/twentynineteen/images/pattern_01.jpg
wp-content/themes/twentynineteen/images/pattern_02.jpg
wp-content/themes/twentynineteen/images/pattern_03.jpg
wp-content/themes/twentynineteen/images/pattern_04.jpg
wp-content/themes/twentynineteen/postcss.config.js
wp-content/themes/twentynineteen/print.css
wp-content/themes/twentytwenty/print.css
wp-content/themes/twentynineteen/print.scss
wp-content/themes/twentynineteen/js/priority-menu.js
wp-content/themes/twentysixteen/genericons/README.md
wp-content/themes/twentynineteen/readme.txt
wp-content/themes/twentyseventeen/README.txt
wp-content/themes/twentysixteen/readme.txt
wp-content/themes/twentytwenty/readme.txt
wp-content/themes/twentyseventeen/rtl.css
wp-content/themes/twentysixteen/rtl.css
wp-content/themes/twentyseventeen/assets/images/sandwich.jpg
wp-content/themes/twentynineteen/screenshot.png
wp-content/themes/twentyseventeen/screenshot.png
wp-content/themes/twentysixteen/screenshot.png
wp-content/themes/twentytwenty/screenshot.png
wp-content/themes/twentynineteen/search.php
wp-content/themes/twentyseventeen/search.php
wp-content/themes/twentysixteen/search.php
wp-content/themes/twentyseventeen/searchform.php
wp-content/themes/twentysixteen/searchform.php
wp-content/themes/twentytwenty/searchform.php
wp-content/themes/twentysixteen/sidebar-content-bottom.php
wp-content/themes/twentyseventeen/sidebar.php
wp-content/themes/twentysixteen/sidebar.php
wp-content/themes/twentynineteen/single.php
wp-content/themes/twentyseventeen/single.php
wp-content/themes/twentysixteen/single.php
wp-content/themes/twentytwenty/singular.php
wp-content/themes/twentynineteen/template-parts/header/site-branding.php
wp-content/themes/twentyseventeen/template-parts/header/site-branding.php
wp-content/themes/twentyseventeen/template-parts/footer/site-info.php
wp-content/themes/twentynineteen/js/skip-link-focus-fix.js
wp-content/themes/twentyseventeen/assets/js/skip-link-focus-fix.js
wp-content/themes/twentysixteen/js/skip-link-focus-fix.js
wp-content/themes/twentytwenty/assets/js/skip-link-focus-fix.js
wp-content/themes/twentytwenty/inc/starter-content.php
wp-content/themes/twentynineteen/style-editor-customizer.css
wp-content/themes/twentynineteen/style-editor-customizer.scss
wp-content/themes/twentynineteen/style-editor.css
wp-content/themes/twentynineteen/style-editor.scss
wp-content/themes/twentynineteen/style-rtl.css
wp-content/themes/twentytwenty/style-rtl.css
wp-content/themes/twentynineteen/style.css
wp-content/themes/twentyseventeen/style.css
wp-content/themes/twentysixteen/style.css
wp-content/themes/twentytwenty/style.css
wp-content/themes/twentynineteen/style.scss
wp-content/themes/twentytwenty/inc/svg-icons.php
wp-content/themes/twentyseventeen/assets/images/svg-icons.svg
wp-content/themes/twentytwenty/templates/template-cover.php
wp-content/themes/twentytwenty/templates/template-full-width.php
wp-content/themes/twentynineteen/inc/template-functions.php
wp-content/themes/twentyseventeen/inc/template-functions.php
wp-content/themes/twentynineteen/inc/template-tags.php
wp-content/themes/twentyseventeen/inc/template-tags.php
wp-content/themes/twentysixteen/inc/template-tags.php
wp-content/themes/twentytwenty/inc/template-tags.php
wp-content/themes/twentynineteen/js/touch-keyboard-navigation.js
wp-content/themes/twentytwentytwo/
sh.exe.stackdump
